<!DOCTYPE html>
<meta charset="utf-8">
<title>My Minigame</title>
<div id="phaser-holder"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/phaser/<%= phaserVersion %>/phaser.min.js"></script>
<script>
<%= stateJs %>

var game = new Phaser.Game(
  <%= gameData.width %>,
  <%= gameData.height %>,
  Phaser.CANVAS,
  'phaser-holder',
  state
);

<% if (encourageRemix) { %>
// The following is only defined to allow others to re-import this
// game into the editor tool; it's not required to play the game.

var gameData = <%= JSON.stringify(gameData) %>;
<% } %>
</script>
