<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<style>
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
</style>
<title>My Minigame</title>
<div>
  <div id="phaser-holder"></div><% if (encourageRemix) { %>
  <p><small><a href="javascript:remixGame()">Remix this minigame</a></small></p><% } %>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/phaser/<%= phaserVersion %>/phaser.min.js"></script>
<script src="//toolness.github.io/fancy-friday/contrib/tinygame.js"></script>
<script>
<%= stateJs %>

var game = new Phaser.Game(
  <%= gameData.width %>,
  <%= gameData.height %>,
  Phaser.CANVAS,
  'phaser-holder',
  state
);

// Safari caches cross-origin resources in a ridiculous way.
// We'll work around this annoyance by monkeypatching 
// Phaser to ensure that we never ask for cached data.
function bypassSafariCORSLameness() {
  var LoaderProto = Phaser.Loader.prototype;
  var ua = navigator.userAgent;
  var isSafari = /safari/i.test(ua) && !/chrome/i.test(ua);
  if (!isSafari || LoaderProto.originalXhrLoad) return;

  console.log("Monkeypatching Phaser.Loader to bust cache because " +
              "https://github.com/photonstorm/phaser/issues/1355.");
  LoaderProto.originalXhrLoad = LoaderProto.xhrLoad;
  LoaderProto.xhrLoad = function(index, url, type, onload, onerror) {
    url = url + '?cacheBust=' + Date.now();
    return this.originalXhrLoad(index, url, type, onload, onerror);
  };
}

bypassSafariCORSLameness();

<% if (encourageRemix) { %>

// --------------
// Re-Import Data
// --------------
//
// The following is *only* defined to allow others to re-import this
// game into the editor tool; it's not required to play the game.

var gameData = <%= JSON.stringify(gameData) %>;

function remixGame() {
  var child = window.open(<%= JSON.stringify(creatorURL) %>);
  window.addEventListener('message', function onMessage(event) {
    if (event.source !== child) return;
    if (event.data == "mmm:ready") {
      window.removeEventListener('message', onMessage, false);
      child.postMessage(JSON.stringify({
        type: 'import',
        gameData: gameData
      }), '*');
    }
  }, false);
}
<% } %>
</script>
